*{
    font-family: 'Montserrat',sans-serif;
}
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    width: 100%;
    height: 19vh;
    background-color: rgb(41, 125, 146);

}
.name p{
    color: white;
}
.suggestion{
    flex-direction: column;
    margin-left: 30%;
}
.suggestion>*{
    font-size: 3%;
    padding: 3%;
}
.profile-photo{
    height: 100%;
    width: 10%;
    border-radius: 50%;
    background: white
}
.logout{
    width: 10%;
    height: 10%;
}
